<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    <div th:replace="/fragments/head :: head"></div>
    <title>Servicios</title>
    <style th:replace="/fragments/style :: style"></style>
</head>
<body style=" background: #F2F2F2">
    <!--<header th:replace="/fragments/header :: header" ></header> -->
    <nav th:replace="/fragments/navbar :: nav" ></nav> 

    <main>

        <div><h3 class="text-center" >Servicios</h3></div>

         <!-- Salud -->
        
         <div  class="album py-5 bg-body-tertiary container"> <!-- th:each="categoria : ${categorias}" -->
            <div class="container">
                <div class="border-bottom border-top border-secondary mb-3 py-3">
                    <h3  class="text-center" >Salud</h3> <!-- th:text="${categoria.nombre}" -->
                </div>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <div th:each="proveedor : ${salud}"  class="col">
                        <div class="card shadow-sm  proveedor">
                            <a >
                                <img style="height: fit-content;" th:src="@{/imagen/perfil/__${proveedor.id}__}" width="100%" height="225" alt="Servicio foto"/>
                            </a>
                            <div class="card-body">
                                <div class="row pb-3">
                                    <div class="col">
                                        <p th:text="${proveedor.nombre}"  class="card-text">Médico General</p>
                                    </div>
                                    <div class="col">
                                        <small style="margin-left: 10px" th:if="${session.usuariosession == null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐</small>
                                        <small th:if="${session.usuariosession != null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐ Calificacion</small>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div th:if="${session.usuariosession == null}" class="btn bg-warning">
                                        <a style="text-decoration: none; color: black; font-weight: 500;" th:href="@{/login}">Inicia sesión para acceder al contenido.</a>
                                    </div>
                                    <div th:if="${session.usuariosession != null}" class="btn-group">
                                        <a th:href="@{/servicios/proveedor/__${proveedor.id}__}" type="button" class="btn btn-sm btn-outline-secondary">Ver Servicio</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        
         <!-- Plomeria -->
       
        <div class="album py-5 bg-body-tertiary container">
            <div class="container">
                <div class="border-bottom border-top border-secondary mb-3 py-3">
                    <h3 class="text-center" >Plomeria</h3>
                </div>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <div th:each="proveedor : ${plomeria}"  class="col">
                        <div class="card shadow-sm proveedor">
                            <a th:href="@{/imagen/perfil/__${proveedor.id}__}">
                                <img th:src="@{/imagen/perfil/__${proveedor.id}__}" width="100%" height="225" alt="Servicio foto"/>
                            </a>
                            <div class="card-body">
                                <div class="row pb-3">
                                    <div class="col">
                                        <p th:text="${proveedor.nombre}"  class="card-text">Médico General</p>
                                    </div>
                                    <div class="col">
                                        <small style="margin-left: 10px" th:if="${session.usuariosession == null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐</small>
                                        <small th:if="${session.usuariosession != null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐ Calificacion</small>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div th:if="${session.usuariosession == null}" class="btn bg-warning">
                                        <a style="text-decoration: none; color: black; font-weight: 500;" th:href="@{/login}">Inicia sesión para acceder al contenido.</a>
                                    </div>
                                    <div th:if="${session.usuariosession != null}" class="btn-group">
                                        <a  th:href="@{/servicios/proveedor/__${proveedor.id}__}" type="button" class="btn btn-sm btn-outline-secondary">Ver Servicio</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

         <!-- Electricidad -->
        
        <div class="album py-5 bg-body-tertiary container">
            <div class="container">
                <div class="border-bottom border-top border-secondary mb-3 py-3">
                    <h3 class="text-center" >Electricidad</h3>
                </div>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <div th:each="proveedor : ${electricidad}"  class="col">
                        <div class="card shadow-sm proveedor">
                            <a th:href="@{/imagen/perfil/__${proveedor.id}__}">
                                <img th:src="@{/imagen/perfil/__${proveedor.id}__}" width="100%" height="225" alt="Servicio foto"/>
                            </a>
                            <div class="card-body">
                                <div class="row pb-3">
                                    <div class="col">
                                        <p th:text="${proveedor.nombre}"  class="card-text">Médico General</p>
                                    </div>
                                    <div class="col">
                                        <small style="margin-left: 10px" th:if="${session.usuariosession == null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐</small>
                                        <small th:if="${session.usuariosession != null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐ Calificacion</small>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div th:if="${session.usuariosession == null}" class="btn bg-warning">
                                        <a style="text-decoration: none; color: black; font-weight: 500;" th:href="@{/login}">Inicia sesión para acceder al contenido.</a>
                                    </div>
                                    <div th:if="${session.usuariosession != null}" class="btn-group">
                                        <a  th:href="@{/servicios/proveedor/__${proveedor.id}__}" type="button" class="btn btn-sm btn-outline-secondary">Ver Servicio</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        
        <!-- LIMPIEZA -->
        
        <div class="album py-5 bg-body-tertiary container">
            <div class="container">
                <div class="border-bottom border-top border-secondary mb-3 py-3">
                    <h3 class="text-center" >Limpieza</h3>
                </div>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <div th:each="proveedor : ${limpieza}"  class="col">
                        <div class="card shadow-sm proveedor">
                            <a th:href="@{/imagen/perfil/__${proveedor.id}__}">
                                <img th:src="@{/imagen/perfil/__${proveedor.id}__}" width="100%" height="225" alt="Servicio foto"/>
                            </a>
                            <div class="card-body">
                                <div class="row pb-3">
                                    <div class="col">
                                        <p th:text="${proveedor.nombre}"  class="card-text">Médico General</p>
                                    </div>
                                    <div class="col">
                                        <small style="margin-left: 10px" th:if="${session.usuariosession == null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐</small>
                                        <small th:if="${session.usuariosession != null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐ Calificacion</small>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div th:if="${session.usuariosession == null}" class="btn bg-warning">
                                        <a style="text-decoration: none; color: black; font-weight: 500;" th:href="@{/login}">Inicia sesión para acceder al contenido.</a>
                                    </div>
                                    <div th:if="${session.usuariosession != null}" class="btn-group">
                                        <a  th:href="@{/servicios/proveedor/__${proveedor.id}__}" type="button" class="btn btn-sm btn-outline-secondary">Ver Servicio</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        
        <!-- Jardineria -->
        
        <div class="album py-5 bg-body-tertiary container">
            <div class="container">
                <div class="border-bottom border-top border-secondary mb-3 py-3">
                    <h3 class="text-center" >Jardineria</h3>
                </div>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <div th:each="proveedor : ${jardineria}"  class="col">
                        <div class="card shadow-sm proveedor">
                            <a th:href="@{/imagen/perfil/__${proveedor.id}__}">
                                <img th:src="@{/imagen/perfil/__${proveedor.id}__}" width="100%" height="225" alt="Servicio foto"/>
                            </a>
                            <div class="card-body">
                                <div class="row pb-3">
                                    <div class="col">
                                        <p th:text="${proveedor.nombre}"  class="card-text">Médico General</p>
                                    </div>
                                    <div class="col">
                                        <small style="margin-left: 10px" th:if="${session.usuariosession == null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐</small>
                                        <small th:if="${session.usuariosession != null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐ Calificacion</small>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div th:if="${session.usuariosession == null}" class="btn bg-warning">
                                        <a style="text-decoration: none; color: black; font-weight: 500;" th:href="@{/login}">Inicia sesión para acceder al contenido.</a>
                                    </div>
                                    <div th:if="${session.usuariosession != null}" class="btn-group">
                                        <a  th:href="@{/servicios/proveedor/__${proveedor.id}__}" type="button" class="btn btn-sm btn-outline-secondary">Ver Servicio</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        
        <!-- Varios -->
        
        <div class="album py-5 bg-body-tertiary container">
            <div class="container">
                <div class="border-bottom border-top border-secondary mb-3 py-3">
                    <h3 class="text-center" >Varios</h3>
                </div>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <div th:each="proveedor : ${varios}"  class="col">
                        <div class="card shadow-sm proveedor">
                            <a th:href="@{/imagen/perfil/__${proveedor.id}__}">
                                <img th:src="@{/imagen/perfil/__${proveedor.id}__}" width="100%" height="225" alt="Servicio foto"/>
                            </a>
                            <div class="card-body">
                                <div class="row pb-3">
                                    <div class="col">
                                        <p th:text="${proveedor.nombre}"  class="card-text">Médico General</p>
                                    </div>
                                    <div class="col">
                                        <small style="margin-left: 10px" th:if="${session.usuariosession == null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐</small>
                                        <small th:if="${session.usuariosession != null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐ Calificacion</small>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div th:if="${session.usuariosession == null}" class="btn bg-warning">
                                        <a style="text-decoration: none; color: black; font-weight: 500;" th:href="@{/login}">Inicia sesión para acceder al contenido.</a>
                                    </div>
                                    <div th:if="${session.usuariosession != null}" class="btn-group">
                                        <a  th:href="@{/servicios/proveedor/__${proveedor.id}__}" type="button" class="btn btn-sm btn-outline-secondary">Ver Servicio</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </main>

    <div class="container">
        <footer th:replace="/fragments/footer :: footer" > </footer>
    </div>

</body>
</html>

<!--        




        <div class="album py-5 bg-body-tertiary  container">
            <div class="container">
                <div class="border-bottom border-top border-secondary mb-3 py-3">
                    <h3 class="text-center" >Mantenimiento en general</h3>
                </div>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <div class="col">
                        <div class="card shadow-sm">
                            <img th:src="@{/images/servicios/electricista.png}" width="100%" height="225" alt="Servicio foto"/>
                            <div class="card-body">
                                <p class="card-text">Electricista 10 años de experiencia.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div th:if="${session.usuariosession == null}" class="btn bg-warning">
                                        <a style="text-decoration: none; color: black; font-weight: 500;" th:href="@{/login}">Inicia sesión para acceder al contenido.</a>
                                    </div>
                                    <div th:if="${session.usuariosession != null}" class="btn-group">
                                        <a th:href="@{/servicios}" type="button" class="btn btn-sm btn-outline-secondary"> Ver Servicio</a>
                                    </div>
                                    <small style="margin-left: 10px" th:if="${session.usuariosession == null}" class="text-body-secondary"> Calificacion.</small>
                                    <small th:if="${session.usuariosession != null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ Calificacion</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img th:src="@{/images/servicios/plomero.png}" width="100%" height="225" alt="Servicio foto"/>
                            <div class="card-body">
                                <p class="card-text">Plomero con alta disponibilidad horaria.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div th:if="${session.usuariosession == null}" class="btn bg-warning">
                                        <a style="text-decoration: none; color: black; font-weight: 500;" th:href="@{/login}">Inicia sesión para acceder al contenido.</a>
                                    </div>
                                    <div th:if="${session.usuariosession != null}" class="btn-group">
                                        <a th:href="@{/servicios}" type="button" class="btn btn-sm btn-outline-secondary">Ver Servicio</a>
                                    </div>
                                    <small style="margin-left: 10px" th:if="${session.usuariosession == null}" class="text-body-secondary"> Calificacion.</small>
                                    <small th:if="${session.usuariosession != null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ Calificacion</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img th:src="@{/images/servicios/arquitecto.png}" width="100%" height="225" alt="Servicio foto"/>
                            <div class="card-body">
                                <p class="card-text">Arquitecto para planificar sus obras.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div th:if="${session.usuariosession == null}" class="btn bg-warning">
                                        <a style="text-decoration: none; color: black; font-weight: 500;" th:href="@{/login}">Inicia sesión para acceder al contenido.</a>
                                    </div>
                                    <div th:if="${session.usuariosession != null}" class="btn-group">
                                        <a th:href="@{/servicios}" type="button" class="btn btn-sm btn-outline-secondary">Ver Servicio</a>
                                    </div>
                                    <small style="margin-left: 10px" th:if="${session.usuariosession == null}" class="text-body-secondary">Calificacion.</small>
                                    <small th:if="${session.usuariosession != null}" class="text-body-secondary">⭐ ⭐ ⭐ ⭐ ⭐ Calificacion</small>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        
-->        